/* This stylesheet is used to style the admin option form of the plugin. */

body.wp-admin.settings_page_angelleye-offers-for-woocommerce #wpbody-content .wrap h2:first-child:before { font-family:WooCommerce!important;content:"\e03d"; font-size:2.0em!important}

/*.type-woocommerce_offer.status-accepted-offer td, 
.type-woocommerce_offer.status-accepted-offer th {
    background-color: #FF0000;
}*/

.type-woocommerce_offer td, .type-woocommerce_offer.status-accepted-offer td, .type-woocommerce_offer.status-accepted-offer th, .type-woocommerce_offer.status-publish td, .type-woocommerce_offer.status-publish th {
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
}

.type-woocommerce_offer.status-completed-offer td,
.type-woocommerce_offer.status-completed-offer th {
  background-color: #FFF;
}

.type-woocommerce_offer.status-declined-offer td,
.type-woocommerce_offer.status-declined-offer th {
  background-color: #DDDDDD;
}

.type-woocommerce_offer.status-publish td,
.type-woocommerce_offer.status-publish th {
  background-color: #fef7f1;
}

.type-woocommerce_offer.status-accepted-offer td,
.type-woocommerce_offer.status-accepted-offer th {
  background-color: #f7fcfe;
}

.type-woocommerce_offer.status-accepted-offer th.check-column {
    border-left: 4px solid #2ea2cc;
}



/*#woocommerce-product-data ul.wc-tabs li.custom_tab_offers_for_woocommerce a:before,
.woocommerce ul.wc-tabs li.custom_tab_offers_for_woocommerce a:before{
	content:"\e01c"
}*/

#adminmenu #menu-posts-woocommerce_offer .menu-icon-woocommerce_offer div.wp-menu-image:before { content: "\f110"; }

#woocommerce-offer-admin-submenu .woocommerce-offer-admin-submenu-item .woocommerce-offer-submenu-link { font-weight:normal; color:#BBB; }
#woocommerce-offers-settings-link { color:#BBBBBB; }

#adminmenu .wp-submenu li.current #woocommerce-offer-admin-submenu li { background:#444; }

#adminmenu .wp-submenu li.current #woocommerce-offers-settings-link,
#adminmenu .wp-submenu li.current #woocommerce-offers-settings-link:focus, 
#adminmenu #woocommerce-offers-settings-link.wp-has-current-submenu:focus {
	color:#BBB;
	font-weight:normal;
}
#adminmenu .wp-submenu li.current #woocommerce-offers-settings-link:hover {
	color:#2ea2cc;
	font-weight:normal;
}