
.notice.notice-success.angelleye-notice {
    padding: 0 !important;
    margin: 5px 0 10px;
    background: #FFF;
    overflow: hidden;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
    min-height: 80px;
    display: table; /* The magic ingredient! */
    font: 13px "Open Sans", sans-serif;
}
.angelleye-notice > div {
    display: table-cell;
    vertical-align: middle;
    cursor: default;
    line-height: 1.5;
}
.angelleye-notice-logo-push {
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.angelleye-notice-logo-push span {
    display: block;
    margin: 0px 10px 0px 10px;
}
.notice.notice-success.angelleye-notice {
    font: 13px "Open Sans", sans-serif;
        line-height: normal;
}
.angelleye-notice-message {
    color: #23282D;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 5px;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}
.angelleye-notice-message h3 {
    margin: 4px 0px !important;
}
.angelleye-notice-message-inner {
    margin-bottom: 10px;
}
.angelleye-notice-message p {
    margin: 3px 0px !important;
    padding: 0px;
}
.angelleye-notice-action {
    padding-top: 5px;
}
.angelleye-notice-cta {
    border-left: 1px solid #E5E5E5;
    background: #F8F8F8;
    padding: 0 30px;
    position: relative;
    white-space: nowrap;
}
.wp-core-ui .angelleye-notice-cta button,
.wp-core-ui .angelleye-notice-cta .button-primary:active {
    vertical-align: middle;
}
.angelleye-notice-dismiss {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #C5C5C5;
    -webkit-font-smoothing: antialiased;
}
.updater-dismissible { padding-right: 38px; position: relative; }

.angelleye-form-field {
    width: 545px;
    clear: both;
}
.angelleye-form-field label {
    display: block;
    padding: 0 0 3px;
}
.angelleye-form-field-small {
    width: 264px;
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;

}
.angelleye-form-field-small label {
    display: block;
    padding: 0 0 3px;
}

.ofwleft {
    float: left;
}
.ofwright {
    float: right;
}
.ofw-product-filed {
     width: 545px;
    clear: both;
}
#angelleye_offer_for_woocommerce_extra_option thead tr th {
    color: #32373c !important;
    background: #f8f8f8;
}
.toggler-switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.toggler-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.er-toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.er-toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggler-switch input:checked + .er-toggler {
    background-color: #2196F3;
}
input:focus + .er-toggler {
    box-shadow: 0 0 1px #2196F3;
}
#ofw_email_reminders_options_form  .er-toggler:before {
    border-radius: 50%;
}
input:checked + .er-toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
#ofw_email_reminders_options_form .select2-search__field,#ofw_template_name, #ofw_email_subject{
    width:100%;
}
.select2-container{
    z-index: 1;
}
ul.select2-results__options{
    background-color: white;
    padding:10px;
    border-radius: 2px;
}
li.select2-selection__choice{
    background-color: white;
    border-radius: 10px;
    margin: 5px 10px;
}
#ofw_email_reminders_options_form select.wc-product-search.select2-hidden-accessible.enhanced{
    display: none;
}
#ofw_send_test_email{
    width: 100%;
    margin: 0 0 5px 0;
}
.add-new-template{
    margin:5px!important;
}
#ofw_email_reminders_options_form  .btn-cont {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.form-field .required-warning {
    color: red;
}