/* Public Stylesheet */

.offers-for-woocommerce-add-to-cart-wrap {
    position:relative;
    width: 100%;
    white-space: nowrap;
}

.offers-for-woocommerce-make-offer-button-catalog { margin: 0 0 7px 0; }
.offers-for-woocommerce-make-offer-button-single-product {margin:0 0 0 5px ; width: fit-content;}
.offers-for-woocommerce-add-to-cart-wrap.ofwc-button-right-of-add-to-cart { height:70px; }
.offers-for-woocommerce-add-to-cart-wrap.ofwc-button-right-of-add-to-cart .offers-for-woocommerce-make-offer-button-single-product { margin:0 0 0 5px ; float:left; }

html body.woocommerce div.product form.cart .default_add_class,
html body.woocommerce-page div.product form.cart .default_add_class,
html body.woocommerce div.product form.cart .default_add_class
{
    position: absolute;
    top: 0;
    margin-left: 10px;
}

.angelleye-offers-clearfix { clear:both; height:1px; }

.tabs .tab_custom_ofwc_offer_tab { display:block; }

#lightbox_custom_ofwc_offer_form {
    display: none;
    position:fixed;
    z-index:999999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:0px;

    min-height:300px;
    max-height:600px;
    width:100%;
    max-width:500px;
    margin:auto;
    overflow:auto;

    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fcfbfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfbfc), to(#f7f6f7));
    background: -webkit-linear-gradient(#fcfbfc, #f7f6f7);
    background: -moz-linear-gradient(center top, #fcfbfc 0, #f7f6f7 100%);
    background: -moz-gradient(center top, #fcfbfc 0, #f7f6f7 100%);
    list-style: none outside;
    *zoom:1;
    width: auto;
    -webkit-box-shadow: inset 0 -2px 6px rgba(0,0,0,.05), inset 0 -2px 30px rgba(0,0,0,.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,.3);
    box-shadow: inset 0 -2px 6px rgba(0,0,0,.05), inset 0 -2px 30px rgba(0,0,0,.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,.3);
    border-top: 3px solid #999;
}

#lightbox_custom_ofwc_offer_form_close_btn {
    display: none;
    position: fixed ;
    z-index: 99;
    top:0;
    left:0;
    margin:0;
    width:100%;
    height: 100%;
    background:#000;
    opacity: .45;
    color:#FFF;
}

#tab_custom_ofwc_offer_tab_alt_message { display:none; }
#tab_custom_ofwc_offer_tab_alt_message_2 { display:none; }
#tab_custom_ofwc_offer_tab_alt_message_custom { display:none; }
#tab_custom_ofwc_offer_tab_alt_message_success { display:none; }

#tab_custom_ofwc_offer_tab_inner { display:block; }

div.tab_custom_ofwc_offer_tab_inner_content { padding:0px; }
#lightbox_custom_ofwc_offer_form div.tab_custom_ofwc_offer_tab_inner_content { padding:20px; }

div.tab_custom_ofwc_offer_tab_inner_content fieldset {
    /*margin-bottom:10px; border:1px solid #E5E5E5; border-left:6px solid #CCC; border-top:none; padding:20px;*/
    padding: 0em 0em 1em 0em;
    margin: 0 0 2em;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fcfbfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfbfc), to(#f7f6f7));
    background: -webkit-linear-gradient(#fcfbfc, #f7f6f7);
    background: -moz-linear-gradient(center top, #fcfbfc 0, #f7f6f7 100%);
    background: -moz-gradient(center top, #fcfbfc 0, #f7f6f7 100%);
    list-style: none outside;
    *zoom:1;
    width: auto;
    -webkit-box-shadow: inset 0 -2px 6px rgba(0,0,0,.05), inset 0 -2px 30px rgba(0,0,0,.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,.3);
    box-shadow: inset 0 -2px 6px rgba(0,0,0,.05), inset 0 -2px 30px rgba(0,0,0,.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,.3);
    border-top: 3px solid #999;
}
#lightbox_custom_ofwc_offer_form div.tab_custom_ofwc_offer_tab_inner_content fieldset { background:none; box-shadow:none; border:none; }

div.tab_custom_ofwc_offer_tab_inner_content .make-offer-form-intro {
    padding: .10em 1.75em;
    border-bottom: 1px solid #EEE;
    margin-bottom: 15px;
    /*background: #f7f6f7;*/
    /*background: #fcfbfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfbfc), to(#f7f6f7));
    background: -webkit-linear-gradient(#fcfbfc, #f7f6f7);
    background: -moz-linear-gradient(center top, #fcfbfc 0, #f7f6f7 100%);
    background: -moz-gradient(center top, #fcfbfc 0, #f7f6f7 100%);*/
    color: #777;
    text-shadow: 0 1px 0 #fff;
}
div.tab_custom_ofwc_offer_tab_inner_content .make-offer-form-outro {
    padding: .10em 1.75em;
    color: #777;
    text-shadow: 0 1px 0 #fff;
}
div.tab_custom_ofwc_offer_tab_inner_content .make-offer-form-intro h2 { margin:10px 0px 0px 0px; color:#555; }
div.tab_custom_ofwc_offer_tab_inner_content .make-offer-form-intro .make-offer-form-intro-text { margin:3px 0px 15px 0px; }

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form { margin:0em 1.75em 0em 1.75em; }

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section ,div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section-submit { width:100%; padding:0px; margin:0px 0px 10px 0px; clear:both; }
div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section .woocommerce-make-offer-form-part-left { float:left; width:200px; margin:0px 0px 10px 0px; }

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section label { float:none; position:relative; padding:6px 0px; }
div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section input { float:none; padding:8px 10px; width:80%; max-width:100%;margin: 0px;}

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section input[type='text']:disabled,
div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section input[type='email']:disabled{ border:none; }
div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section textarea { width:auto; resize: none; }

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section #woocommerce-make-offer-form-price-each { border:1px solid #CCC; border-left:none; border-top-width: 1px; }

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section #woocommerce-make-offer-form-total {  border:1px solid #CCC; border-left:none; border-top-width:1px; background:#FFFFFF; cursor: not-allowed; }
div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section #angelleye-offer-notes { width:80%; }
#woocommerce-make-offer-form-submit-button { float:left; margin-right:20px; margin-top:1px; width:auto; }
div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section-submit .offer-submit-loader { display:none; float:left; height:32px; width:auto; line-height:33px; padding-left:45px; font-style:italic; background:url('../images/offer-submit-loader.gif') left center no-repeat; }

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section div.woocommerce-make-offer-form-sym { float:left; font-weight:bold; padding:0px 8px 8px 8px; }



.offers-for-woocommerce-make-offer-button-catalog {position:relative;  }

body.archive.woocommerce-page.ofwc-shop-page a.button.add_to_cart_button { float:left; position:relative; }

#adminmenu #menu-posts-woocommerce_offer .menu-icon-woocommerce_offer div.wp-menu-image:before { content: "\f110"; }
#woocommerce-product-data ul.wc-tabs li.custom_tab_offers_for_woocommerce a:before, .woocommerce ul.wc-tabs li.custom_tab_offers_for_woocommerce a:before { content: "\e03a"; }

.quantity.angelleye-woocommerce-quantity-input-disabled input.qty { border-right:1px solid #C8BFC6; border-radius: 2px; }
.quantity.angelleye-woocommerce-quantity-input-disabled input.plus,
.quantity.angelleye-woocommerce-quantity-input-disabled input.minus { display:none; }

.angelleye-input-group-addon, .angelleye-input-group-btn, .angelleye-input-group .form-control
{
    display: table-cell;
}
.angelleye-input-group-addon, .angelleye-input-group-btn
{
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.angelleye-input-group-addon
{
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border-top-width: 1px;
    border-right-width-value: 1px;
    border-bottom-width: 1px;
    border-left-width-value: 1px;
    border-top-style: solid;
    border-right-style-value: solid;
    border-bottom-style: solid;
    border-left-style-value: solid;
    border-top-color: #cccccc;
    border-right-color-value: #cccccc;
    border-bottom-color: #cccccc;
    border-left-color-value: #cccccc;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.angelleye-input-group .form-control:first-child, .angelleye-input-group-addon:first-child, .angelleye-input-group-btn:first-child > .btn, .angelleye-input-group-btn:first-child > .dropdown-toggle, .angelleye-input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle)
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.angelleye-input-group-addon:first-child
{
    border-right-width-value: 0px;
    border-right-style-value: none;
}
.angelleye-input-group
{
    position: relative;
    display: table;
    border-collapse: separate;
}
.angelleye-input-group .form-control:last-child, .angelleye-input-group-addon:last-child, .angelleye-input-group-btn:last-child > .btn, .angelleye-input-group-btn:last-child > .dropdown-toggle, .angelleye-input-group-btn:first-child > .btn:not(:first-child)
{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.angelleye-ofwc-hidden { display: none; }
.ofwc-no-float { float: none; }

#aeofwc-close-lightbox-link {
    display: none;
    position: relative;
    height:10px;
}
#aeofwc-close-lightbox-link a {
    position: absolute;
    right:5px;
    top:5px;
    z-index: 999;
    font-size:22px;
    font-weight: bold;
    line-height: 20px;text-decoration: none;box-shadow: none;
}
.woocommerce-make-offer-form-section .checkbox {
    display: inline-block;
    cursor: pointer;
    margin-left: 3px; line-height:18px;
}
.woocommerce-make-offer-form-section input[type=checkbox] {
    display:none;
}
.woocommerce-make-offer-form-section .checkbox:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align:middle;
    background-color: #60646c;
    color: white;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 3px;
}
.woocommerce-make-offer-form-section input[type=checkbox]:checked + .checkbox:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
}
.ofw-info {
    background-color: #f7f6f7;
    color: #515151;
    list-style: outside none none ;
    margin: 9px 0 ;
    padding: 1em 2em 1em 1.5em ;
    /*    position: relative;*/
    width: auto;
    word-wrap: break-word;
    clear: both;
}
.ofw-info::before, .ofw-info::after {
    content: " ";
    display: table;
}
.ofw-info::after {
    clear: both;

}
.ofw-info::before {
    display: inline-block;
    font-family: WooCommerce;
    position: absolute;
    top: 1em;
}

.single-product .button.offers-for-woocommerce-make-offer-button-single-product.disabled {opacity: .2;}
.single_variation_wrap_angelleye{
    display: inline-block;
    width:-webkit-fill-available;
}
.post-type-archive-product .single_variation_wrap_angelleye {
    margin-left: 5px;
}
/* .storefront-full-width-content .aofwc-first-div,
.storefront-secondary-navigation .aofwc-first-div,
.storefront-align-wide .aofwc-first-div,
.fusion-body .aofwc-first-div{
    display: inline-block;
} */
div#offers-for-woocommerce-add-to-cart-wrap .single_offer_button {
    margin-bottom: 5px ;
}

.woocommerce-make-offer-form-part-full{
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section .woocommerce-make-offer-form-part-full input
{
   display: block;
    max-width: 100%;
}
.single_variation_wrap_angelleye.ofwc_offer_tab_form_wrap.single_offer_button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    display: none;
}

div.tab_custom_ofwc_offer_tab_inner_content fieldset form#woocommerce-make-offer-form .woocommerce-make-offer-form-section .woocommerce-make-offer-form-part-full label input {
    display: inline-block;
    max-width: 100%;
    width: auto;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .single_variation_wrap_angelleye {
        display: block;
    }
    
    html body.woocommerce div.product form.cart .default_add_class, html body.woocommerce-page div.product form.cart .default_add_class, html body.woocommerce div.product form.cart .default_add_class {
        display: block;
        position: unset !important;
    }
    div#offers-for-woocommerce-add-to-cart-wrap .angelleye_button_single{
        margin-top : 55px;
    }
    html body.woocommerce div.product form.cart .default_add_class,
    html body.woocommerce-page div.product form.cart .default_add_class,
    html body.woocommerce div.product form.cart .default_add_class
    {
        position: absolute;
        top: 55px;
        left: 0;
        margin-left: 10px;
    }

    div#offers-for-woocommerce-add-to-cart-wrap .before_add  .angelleye_button_single,
    div#offers-for-woocommerce-add-to-cart-wrap .after_price  .angelleye_button_single,
    div#offers-for-woocommerce-add-to-cart-wrap .after_tabs  .angelleye_button_single    
    {
        margin-top : 0px;
    }
    
}

@media (max-width: 480px) {
    .single_variation_wrap_angelleye {
        display: block;
    }
    .single_add_to_cart_button.button.alt {
        margin-bottom: 15px;
    }
    html body.woocommerce div.product form.cart .default_add_class, html body.woocommerce-page div.product form.cart .default_add_class, html body.woocommerce div.product form.cart .default_add_class {
        display: block;
        position: unset !important;
    }
    div#offers-for-woocommerce-add-to-cart-wrap .angelleye_button_single{
        margin-top : 55px;
    }
    html body.woocommerce div.product form.cart .default_add_class,
    html body.woocommerce-page div.product form.cart .default_add_class,
    html body.woocommerce div.product form.cart .default_add_class
    {
        position: absolute;
        top: 55px;
        left: 0;
        margin-left: 10px;
        
    }

    div#offers-for-woocommerce-add-to-cart-wrap .before_add  .angelleye_button_single,
    div#offers-for-woocommerce-add-to-cart-wrap .after_price  .angelleye_button_single,
    div#offers-for-woocommerce-add-to-cart-wrap .after_tabs  .angelleye_button_single
    {
        margin-top : 0px;
    }    
}